# Audio files
*.mp3
*.wav
*.ogg
*.flac
*.aac
*.m4a

# Libs
*.deb
*.pyc

# Text files
scripts/audio_data.txt
scripts/doctor_patient_conversation.wav
scripts/doctor_patient_long.wav
clinicalbert_fine_tuning/train.csv
clinicalbert_fine_tuning/test.csv
clinicalbert_fine_tuning/sample_conversation.csv

detail.txt

# Csv files
clinicalbert_fine_tuning/*.csv